{% extends 'tasks/base.html' %}
{% block title %}تغییر موفقیت‌آمیز{% endblock %}

{% block content %}
<div class="row justify-content-center text-center">
    <div class="col-md-6">
        <div class="card p-5 shadow-sm">
            <i class="fa-solid fa-circle-check fa-3x text-success mb-3"></i>
            <h4 class="fw-bold text-success mb-3">رمز عبور با موفقیت تغییر کرد!</h4>
            <p class="text-muted mb-4">اکنون می‌توانید با رمز عبور جدید وارد حساب کاربری خود شوید.</p>
            <a href="{% url 'login' %}" class="btn btn-primary px-4">ورود به حساب</a>
        </div>
    </div>
</div>
{% endblock %}